<a href="https://colab.research.google.com/github/ja20835/team25.Titanic/blob/main/Team25_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Analysis
import pandas as pd
import numpy as np

In [ ]:
#Visualisation of Data
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Machine-Learning
import sklearn

In [ ]:
#github link for data
! git clone https://github.com/ja20835/team25.Titanic.git

fatal: destination path 'team25.Titanic' already exists and is not an empty directory.

In [ ]:
#Read data
train = pd.read_csv('team25.Titanic/train.csv')
test = pd.read_csv('team25.Titanic/test.csv')
gender = pd.read_csv('team25.Titanic/gender_submission.csv')

In [ ]:
#Display data-sample
print(train.head())
print("\n")
print(test.head())
print("\n")
print(gender.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]


   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]


   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None